@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	list-style-type: none;
	text-decoration: none;
}

body {
	font-family: "Poppins", sans-serif;
	background: var(--eee);
	color: var(--black);
}

/* styles */

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100%;
	padding: 3rem 0;
}
.template {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 40rem;
	border: 0.1rem solid #bbb;
}
.header {
	background: #253d4e;
	color: #fff;
	width: 100%;
	padding: 1rem 2rem;
	font-size: 1rem;
}
.info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 1rem 2rem;
}
.logo {
	width: 10rem;
}
.logo > img {
	width: 100%;
}
.number {
	color: #253d4e;
	font-weight: 600;
	font-size: 1rem;
}
.email {
	color: #253d4e;
	font-weight: 600;
	font-size: 1rem;
}
.inputsContainer {
	width: 100%;
	padding: 1rem 2rem;
}
.inputsContainer > .input {
	width: 100%;
	margin-bottom: 0.6rem;
}
.input > .label {
	font-weight: 600;
	color: #000;
	background: #e6e6e6;
	width: 100%;
	padding: 0.5rem 1rem;
}
.input > p {
	width: 100%;
	padding: 0.5rem 1rem;
}
.footer {
	background: #253d4e;
	color: #fff;
	padding: 1rem 2rem;
	width: 100%;
	font-size: 1rem;
}

@media screen and (max-width: 596px) {
	.container {
		padding: 0;
	}
	.template {
		width: 100%;
		border: 0;
	}
}
@media screen and (max-width: 460px) {
	.info {
		flex-direction: column-reverse;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.logo {
		margin: 2rem 0 1rem 0;
	}
}
@media screen and (max-width: 368px) {
	.header {
		padding: 1rem 2rem;
	}
	.info {
		padding: 1rem 2rem;
	}
	.inputsContainer {
		padding: 1rem 2rem;
	}
	.footer {
		padding: 2rem 2rem;
	}
}
@media screen and (max-width: 320px) {
	.footer {
		font-size: 1.2rem;
	}
}
